

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
.bg-color{
  background-color: #FFF8F3;
}
.btn-primary{
  background-color: #FD6E0A;
  color: white;
  font-weight: bold;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;

}

.dark2{
  color: #474747;
}
.text-center{
  text-align: center;
}
.header{
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left, bottom right ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin: 0px 200px;
}
.text-primary{
  color: #FD6E0A;
}
.nav-title{
    font-size: 45px;
   font-weight: bold;
}
nav ul li {
  list-style: none;
  font-size: 20px;
  margin-right: 40px;

}
 nav li a {
    text-decoration: none;
 }
 .list-items{
  display: flex;
  align-items: center;
 }
 .banner{
  display: flex;
  justify-content: space-between;
  margin: 0px 35px 0px 200px ;
 }
 .banner-content{
  max-width: 580px;
 }
 .banner-greeting{
  font-size: 45px;
  font-weight: 600;
 }
 .banner-title{
  font-weight: bold;
  font-size: 85px;
 }
 .banner-img{
  width: 585px;
 }
 /* main styles */
main{
  max-width: 1140px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}
 .about{
       border-radius: 10px;
       padding: 130px 150px;
       text-align: center;
       margin-top: 130px;
 }
 .sec-title{
  font-size: 35px;
  font-weight: bold;
  color: #181818;
 }
 .sec-desc{
  font-weight: 18px;
  color: #757575;
 }
 .about-items{
  display: flex;
  justify-content: space-around;
 }
 .item-desc{
  font-weight: 600;
 }
 /* skills container */
 .skills-title{
  font-weight: bold;
  font-size: 35px;
 }
 .skills-desc{
  margin-top: 50px;
  margin-bottom: 50px;
 }
 .skills-container{
  display: flex;
  gap: 24px;
 } 
 .skill{
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
 }